<div class="min-h-screen bg-[var(--color-bg-base)]">
  <app-sidebar />
  <app-header />

  <main class="pl-64 pt-16">
    <div class="p-8 max-w-7xl mx-auto">


      <app-contato-summary-cards [totalContatos]="totalContatos()" [totalConsentidos]="totalConsentidos()"
        [totalBloqueados]="totalBloqueados()" [totalSemConsentimento]="totalSemConsentimento()" />


      <app-contato-list [contatos]="contatos()" [columns]="columns" [table]="table" [acaoAtual]="acaoAtual()"
        [erro]="erro()" [mensagemImportacao]="mensagemImportacao()" (novoContato)="abrirNovoContato()"
        (importar)="importarContatos($event)" (exportar)="exportarContatos()"
        (sincronizar)="sincronizarContatosWhatsapp()" (filterChange)="aplicarFiltros($event)"
        (nextPage)="proximaPagina()" (previousPage)="paginaAnterior()"
        (pageSizeChange)="alterarTamanhoPagina($event)" />


      <app-form-panel [open]="contatoPanel.aberto()" [isEdit]="!!contatoPanel.item()" [form]="form" [canais]="canais"
        [acaoAtual]="acaoAtual()" [erro]="erro()" [resposta]="resposta()" [errosFormulario]="errosFormulario()"
        [placeholderDestinatario]="placeholderDestinatario()" [tipoInputDestinatario]="tipoInputDestinatario()"
        (closed)="fecharPainelContato()" (canalChange)="aoAlterarCanal()"
        (destinatarioInput)="atualizarDestinatario($event)" (registrarConsentimento)="registrarConsentimento()"
        (bloquearContato)="bloquearContato()" />

    </div>
  </main>
</div>